<mat-divider></mat-divider>
<div class="fab-container" [routerLink]="[ '/home/start' ]" matTooltip="Inicio" matTooltipPosition="above">
    <div class="fab-icon-holder">
        <mat-icon>undo</mat-icon>
    </div>
</div>
<div class="Files">
    <form *ngIf="myForm" [formGroup]="myForm">
        <div class="control">
            <label class="card-title" for="model">Cargar archivos</label>
            <div class="estilo">
                <p>{{nameFile}}
                    <mat-icon>launch</mat-icon>
                </p>
                <input #Image class="file" type="file" accept='.txt' (change)="fileInput($event.target.files)" />
            </div>
        </div>
    </form>
    <div class="btn" (click)="AddFile(Image)">
        Guardar Archivo
    </div>
    <div *ngIf="save">
        Archivo {{nameFile}} Guardado!
    </div>
</div>

<mat-divider></mat-divider>

<div class="data">
    <div class="btn" (click)="GetDataFiles()">
        Generar Resultados
    </div>
    <div *ngIf="respuesta" class="respuesta">
        <span *ngFor="let res of respuesta || [];let impar = odd;let par = even;" class="dataItem" [ngClass]="{azul:par,verde:impar}">
            <span class="item">
                {{res || 'Sin reportes'}}
            </span>
        </span>
    </div>
    <div *ngIf="conversacion" class="respuesta">
        <span class="dataItem">
            <span class="item">
                conversación categorizada como abandonada por solo tener una línea de conversación (-100 puntos).
            </span>
        </span>
    </div>
    <div *ngIf="respuesta.length > 0" class="respuesta">
        <span class="dataItem">
            <span class="item">
               <span class="itemEstrella">{{estrellas || ''}}</span>
        </span>
        <span class="item">
                CALIFICACION: {{calificacion || 0}}
             </span>
        <span class="item">
                Duración => {{tiempo || 'Tiempo no reportado'}}
             </span>
        </span>
    </div>
    <div *ngIf="existFile" class="not_contenido">
        Falta subir el archivo CONVERSACION.txt
    </div>
</div>