<div class="container">
    <div class="divHome">
        <div class="test">
           <h2>Prueba Newshore_ Junior</h2>
        </div>
        <div>
            <p>Newshore brinda sus servicios a un grupo de clientes. Su tarea es identificar los diferentes
            clientes. Para reconocerlos nos han pasado: </p>
            <p class="pLetras">● Un fichero de texto con el nombre de todos los posibles clientes registrados.</p>
            <p class="pLetras">● Un fichero de las letras que conforman los nombres de los respectivos clientes.</p>
            <p>Usted puede definir si hacen parte de este grupo predilecto teniendo presente los siguientes
            requerimientos:</p>
            <p>Debe desarrollar una solución web que permita:</p>
            <p>1. A través de un botón realizar la carga de los siguientes ficheros.</p>
            <p class="pLetras">a. REGISTRADOS. txt. donde estarán alojados los nombres de los posibles clientes.</p>
            <p class="pLetras">b. CONTENIDO. txt. donde estarán las letras que conforman los nombres de los clientes de Newshore.</p>
            <p>2. Se deben leer los dos ficheros Registrados.txt y Contenido.txt para poder definir quién es
            o no, un cliente de Newshore.
            Con las letras alojadas en el fichero Contenido.txt, se pueden armar algunos nombres del
            fichero Registrados.txt; cada letra puede ser leída UNA SOLA VEZ</p>
            <p>3. La Solución Web debe tener un botón: “Resultados” donde se generará un nuevo fichero
            llamado Resultados.txt. indicando si el cliente existe o no existe en Newshore.</p>
        </div>
        <div    class="btn"
                [routerLink]="[ '/admin/files' ]">
            VER PRUEBA
        </div>
    </div>
</div>
