:host {
    @mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
        &:after {
            position: absolute;
            content: "";
            top: $y;
            left: $x;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            transform: scale($size);
            -webkit-filter: blur($spread);
            -moz-filter: blur($spread);
            -ms-filter: blur($spread);
            filter: blur($spread);
            background: linear-gradient(270deg, $colorA, $colorB);
            background-size: 200% 200%;
            animation: animateGlow $duration ease infinite;
        
            @keyframes animateGlow {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
            }
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .divHome {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 600px;
        height: auto;
        border-radius: 8px;
        color: #252B37;
        background-color: #151823;
        animation: textColor 5s ease infinite;
        @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 5s);

        @keyframes textColor {
          0% {
            color: #7e0fff;
          }
          50% {
            color: #0fffc1;
          }
          100% {
            color: #7e0fff;
          }
        }
    }
    .pLetras{
        margin-left: 15px;
    }
    .btn:focus {outline: 0}
    .btn {
        cursor: pointer;
        color: white;
        background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
        color: white;
        border-radius: 20px;
        padding: 2px 30px !important;
        height: 30px;
        line-height: 28px;
        display: inline-block;
        &:hover {
            background-color: #00aeff;
            background-image: linear-gradient(80deg, #00aeff, #3369e7);
            box-shadow: 0 4px 12px rgba(51, 105, 231, 0.55)
        }
    } 
    
}